/* Morse Code Page Stylesheet

   Mitch Gundrum 11/04/13 */
   
body{
	background-color: black;
}

h1{
	background-color: grey;
	color: black;
	border: 2px solid grey;
	border-radius: 3px;
	text-align: center;
	font-family: Stencil;
	box-shadow: -4px 3px 4px white;
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
}

#outputDiv{
	background-color: black;
	font-family: Garamond;
	text-align: center;
	font-size: 40px;
	color: white;
	padding: 20px;
}

#userInput{
	background-color: #333333;
	border: 8px outset grey;
	border-radius: 6px;
	color: white;
	text-align: center;
	padding: 10px;
	margin: 10px;
	font-size: 18px;
}

#footer{
	text-align: center;
	font-family: Monotype Corsiva;
	color: grey;	
}

   